**Importing Libraries**

In [44]:
import pandas as pd
import numpy as np

**Setup, Constraints & Synthetic Data Logic**
(With COVID dip Simulation)

In [45]:
# Define simulation range
start_date = "2015-01-01"
end_date = "2025-06-30"
dates = pd.date_range(start=start_date, end=end_date, freq='D')

# === Customer A Setup ===
initial_balance_a = 18000.0
apy_a = 0.0001  # 0.01% annual
daily_rate_a = (1 + apy_a) ** (1 / 365) - 1  # ✅ Correct rate
annual_adj_rate_a = 0.02  # 2% deposits/withdrawals annually
daily_adj_rate_a = annual_adj_rate_a / 365
balance_a = initial_balance_a

# === Customer B Setup ===
initial_balance_b = 24500.0
apy_b = 0.03  # 3% annual
daily_rate_b = (1 + apy_b) ** (1 / 365) - 1  # ✅ Correct compound rate
annual_adj_rate_b = 0.02
daily_adj_rate_b = annual_adj_rate_b / 365
balance_b = initial_balance_b

# Storage
records = []

for date in dates:
    # Determine COVID phase
    if date.year <= 2019:
        adj_factor = 1
    elif 2020 <= date.year <= 2022:
        adj_factor = -1
    else:
        adj_factor = 0

    # --- Customer A ---
    adjustment_a = adj_factor * balance_a * daily_adj_rate_a
    balance_a += adjustment_a
    balance_a *= (1 + daily_rate_a)
    pct_growth_a = ((balance_a - initial_balance_a) / initial_balance_a) * 100

    records.append({
        'Customer_Name': 'Customer A',
        'Date': date,
        'Savings': round(balance_a, 2),
        'Invested_In': 'Savings Account',
        'Percentage_Growth': round(pct_growth_a, 4),
        'Risk_Metric': 'medium'
    })

    # --- Customer B ---
    adjustment_b = adj_factor * balance_b * daily_adj_rate_b
    balance_b += adjustment_b
    balance_b *= (1 + daily_rate_b)
    pct_growth_b = ((balance_b - initial_balance_b) / initial_balance_b) * 100

    records.append({
        'Customer_Name': 'Customer B',
        'Date': date,
        'Savings': round(balance_b, 2),
        'Invested_In': 'SSE and HSBC stock',
        'Percentage_Growth': round(pct_growth_b, 4),
        'Risk_Metric': 'low'
    })

# Save as CSV
df = pd.DataFrame(records)

In [46]:
df.head()

,Customer_Name,Date,Savings,Invested_In,Percentage_Growth,Risk_Metric
0,Customer A,2015-01-01,18000.99,Savings Account,0.0055,medium
1,Customer B,2015-01-01,24503.33,SSE and HSBC stock,0.0136,low
2,Customer A,2015-01-02,18001.98,Savings Account,0.0110,medium
3,Customer B,2015-01-02,24506.65,SSE and HSBC stock,0.0272,low
4,Customer A,2015-01-03,18002.97,Savings Account,0.0165,medium

In [47]:
df.tail()

,Customer_Name,Date,Savings,Invested_In,Percentage_Growth,Risk_Metric
7663,Customer B,2025-06-28,34778.37,SSE and HSBC stock,41.9525,low
7664,Customer A,2025-06-29,18754.19,Savings Account,4.1900,medium
7665,Customer B,2025-06-29,34781.19,SSE and HSBC stock,41.9640,low
7666,Customer A,2025-06-30,18754.20,Savings Account,4.1900,medium
7667,Customer B,2025-06-30,34784.00,SSE and HSBC stock,41.9755,low

**Final Dataset Export**

In [48]:
# Save to CSV
df.to_csv(r"D:\Masters Study Abroad\BA 2nd Sem\IS6611 Applied Research in Business Analytics\IS6611 IT Artefact V3\Final Files\Final Datasets\Customer Savings Synthetic Dataset\Synthetic_customer_savings_data.csv", index=False)